@import "normalize.css";
@import "universal.css";

.add-person {
    margin-top: 0.5em;
    width: 100%;

    display: flex;
    flex-direction: row;

    line-height: 1.1lh;

}

.add-person-send {
    align-self: center;
    width: 30px;
    height: calc(1lh + 2px);
    background-color: violet;
    margin-left: 10px;
    border-radius: var(--button-border-radius);
}

.add-person-input {
    width: 100%;
    border: 0;
    border-radius: var(--button-border-radius);
    padding-left: 0.2em;
    font-style: normal;
}

.person-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.person {
    width: 100%;
}

.person-deleter {
    align-self: center;
    width: 30px;
    height: 1lh;
    background-color: violet;
    margin-left: 10px;
    border-radius: var(--button-border-radius);
}

.title-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chatroom-deleter {
    align-self: center;
    width: 30px;
    height: 1lh;
    background-color: violet;
    margin-left: 10px;
    border-radius: var(--button-border-radius);
}

#contacts-list > #contacts-add-contact {
    order: 1;
}

#contacts-list > #contacts-add-contact > :first-child {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    line-height: 1rlh;
}

#contacts-add-contact #contacts-add-contact-input {
    width: 100%;
    line-height: inherit;
    padding-left: 0.2em;
    border: 0;
    border-radius: var(--button-border-radius);
}

#contacts-add-contact #contacts-add-contact-send {
    align-self: center;
    width: 30px;
    height: calc(1lh + 3px);
    background-color: violet;
    margin-left: 10px;
    border-radius: var(--button-border-radius);
}